{% load static %}
<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4 text-warning">Location</h4>
          <p class="lead mb-0">Sheikhupura, Punjab</p>
        </div>
        <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4 text-warning">Get In Touch</h4>
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a class="nav-link" href="mailto:alisherafzal87@gmail.com">
                        <i class="fas fa-envelope"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="https://github.com/BSSE23007">
                        <img src="{% static 'img/github.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="GitHub">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/ali-sher-afzal-457902282/">
                        <img src="{% static 'img/linkedin.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="LinkedIn">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="https://web.facebook.com/profile.php?id=100022445570071">
                        <img src="{% static 'img/facebook.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="Facebook">
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="nav-link" href="https://www.instagram.com/ali_xherr/?hl=en">
                        <img src="{% static 'img/instagram.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="Instagram">
                    </a>
                </li>
            </ul>
        </div>        
        <div class="col-md-4">
          <h4 class="text-uppercase mb-4 text-warning">About This Website</h4>
          <p class="lead mb-0">This is a Django-based blog website created by <b>Ali Sher Afzal</b>.</p>
        </div>
      </div>
    </div>
  </footer>
  