{% extends "base.html" %}


{% block title %}Home{% endblock title %}

{% block content %}

   <!--Header-->
<header class=" text-center py-4">
    <div class="container">
        <h1 class="display-4">My Blog</h1>
        <p class="lead">Sharing Insights and Stories</p>
    </div>
</header>

    <div class="container">
        <h1>All Blogs</h1>
        <ul class="list-group">
            {% for blog in blogs %}
                <li class="list-group-item">
                    <h3>{{ blog.title }}</h3>
                    <p><b>{{blog.sub_title}}</b></p>
                    <p>{{ blog.desc }}</p>
                    {% if blog.image %}
                    <img src="{{ blog.image.url }}" width="300" height="300" class="d-inline-block align-top" alt="{{ blog.title }}">  <!-- Corrected the image URL handling -->
                    {% endif %}
                <small class="text-muted">Published on: {{ blog.published_date|date:"F d, Y" }}</small>  <!-- Formatted date for better readability -->
            {% endfor %}
            </li>
        </ul>
    </div>
{% endblock  %}


